.wrapp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 0px;
  grid-template-areas:
    'side content content content'
    'side content content content'
    'side content content content';
  overflow: hidden;
  height: fit-content;
  padding: 5px;
}

.side {
  height: 100%;
  width: 100%;
  grid-area: side;
  display: block;
  box-shadow: -2px 0px 5px rgba(255, 0, 0, 0.27), 0px 2px 5px rgba(255, 0, 0, 0.27);
}

.content {
  background: #f4f6ff;
  width: 100%;
  grid-area: content;
  border: 1px rgba(242, 45, 45, 0.373) solid;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 0px 5px rgba(255, 0, 0, 0.27), 0px 2px 5px rgba(255, 0, 0, 0.27);
}

.wrapper-box {
  width: 100%;
  padding-left: 10px;
  padding-right: 80px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.heading-2 {
  width: 100%;
  border-bottom: 1px rgba(242, 45, 45, 0.373) solid;
}

.text-wrapper-client {
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 7px;
}

.div-content {
  width: 97%;
}
